body {
    font-size: 22px;
    text-align: center;
    font-family: 'Alegreya Sans SC';
    font-weight: 900;
}

.sketchPadContainer {
    text-align: center;
    display: flex;
    box-sizing: content-box;
    width: 640px;
    height: 640px;
    border: 1px solid black;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0px;
    padding: 0px;
    margin: 0px auto;
}

.sketchPadElement {
    box-sizing: border-box;
    border: 0.001mm solid black;
    background-color: whitesmoke;
    flex: 1 1 auto;
    margin: 0;
}

.blackPainted {
    background-color: black;
}